.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #F2F2F2;
}

.feedback-form {
  border-radius: 8px;
  background: #FFF;
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

input:hover, textarea:hover {
  border-radius: 4px;
  border: 1px solid #000;
  outline: none;
}

input, textarea,
input:focus, textarea:focus,
input:active, textarea:active {
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
}

input {
  width: 360px;
  min-height: 40px;
  flex-shrink: 0;
}

textarea {
  display: flex;
  width: 360px;
  min-height: 80px;
  justify-content: center;
  align-items: center;
}

label {
  color: #2E2F42;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

button {
  color: #FFF;
  font-family: Montserrat, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 8px;
  background: #4E75FF;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  border-radius: 8px;
  background: #6C8CFF;
}